<% if flash[:create] %>
	<div class="flash">
		<%= flash[:create] %>
	</div>
<% end %>
<% if flash[:update] %>
	<div class="flash">
		<%= flash[:update] %>
	</div>
<% end %>

<p>
	<b>Title:</b><%= @book.title %>
</p>

<p>
	<b>Body:</b><%= @book.body %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %>
|
<%= link_to 'Back', books_path %>
